<div class="col m-5 mb-3">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h2>Listes des catégories</h2>
    </div>
    <div class="col-md-4 text-end">
      <app-boutton-action (clickEvent)="newCategorie()"></app-boutton-action>
    </div>
  </div>

  <div class="row m-3">
    <div class="row custom-border p-2 mt-2">
      <div class="col-md-3 border-right">
        Code Catégorie
      </div>
      <div class="col-md-3">
        Description de la catégorie
      </div>
    </div>
    <div class="row custom-border p-2 mt-2">
      <div class="col-md-3 border-right">
        Code Catégorie
      </div>
      <div class="col-md-3">
        Description de la catégorie
      </div>
    </div>
    <div class="row custom-border p-2 mt-2">
      <div class="col-md-3 border-right">
        Code Catégorie
      </div>
      <div class="col-md-3">
        Description de la catégorie
      </div>
    </div>
    <div class="row custom-border p-2 mt-2">
      <div class="col-md-3 border-right">
        Code Catégorie
      </div>
      <div class="col-md-3">
        Description de la catégorie
      </div>
    </div>


  </div>

  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
