<!-- Historiques des commandes et Commanndes actuel--->
<div class="row mb-1 me-0  custom-border">

  <!-- Code de l'article--->
  <div class="col-md-3 border-right mb-1 mt-1">
    <div class="row text-center">
      <div class="col-md-11">
        <h5>Code article</h5>
      </div>
    </div>
  </div>
  <!-- Désignation de l'article--->
  <div class="col-md-3 border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5> Designation article</h5>
      </div>
    </div>
  </div>
  <!-- Quantité de l'article--->
  <div class="col-md-2 border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5> 6</h5>
      </div>
    </div>
  </div>

  <!-- Prix unitaire HT de l'article--->
  <div class="col-md-2 border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5> 12.50</h5>
      </div>
    </div>
  </div>

  <!-- Prix unitaire TTC de l'article--->
  <div class="col-md-2  mb-1 mt-1 text-center">
    <div class="row">
      <h5> 78</h5>
    </div>
  </div>
</div>
