<div class="row mb-1 me-0  custom-border">
  <!--IMAGE DU LIST ORDER-->
  <div class="col-md-1 border-right" style="display: flex; align-items: center; justify-content: center;">
    <img src="assets/order_list.png" width="65px" height="65px">
  </div>

  <!-- Détails clients/fournisseurs -->
  <div class="col-md-5 border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-11">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone blue-color"></i></div>
        <div class="col-md-11">07 89 89 56 98</div>
      </div>
    </div>
  </div>
  <!-- Détails de la commande  -->
  <div class="col-md-3 border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
        <div class="col-md-10">CMD-481995989</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
        <div class="col-md-10">Date</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-cart-arrow-down blue-color"></i></div>
        <div class="col-md-10">LIVREE</div>
      </div>
    </div>
  </div>
  <!-- Boutons d'actions-->
  <div class="col-md-3 mb-1 mt-1 text-center">
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link" title="Cliquez pour modifier" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
          <i class="fas fa-pencil-alt blue-color"></i>&nbsp; Modifier
        </button>
      </div>
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link" title="Cliquez pour modifier" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
          <i class="fas fa-trash-alt blue-color"></i>&nbsp; Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

