<div class="col">

  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h2>Listes des articles</h2>
    </div>
    <div class="col-md-4 text-end"> buttons</div>
  </div>

  <div class="row m-3">
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
    <app-detail-article></app-detail-article>
  </div>

  <div class="card row m-3 text-center">
    pagination
  </div>
</div>
