<div class="col">

  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h2>Listes des clients</h2>
    </div>
    <div class="col-md-4 text-end">
      <app-boutton-action (click)="newClient()"></app-boutton-action>
    </div>
  </div>

  <div class="row m-3">
    <app-detail-clt-frs></app-detail-clt-frs>
    <app-detail-clt-frs></app-detail-clt-frs>
    <app-detail-clt-frs></app-detail-clt-frs>
    <app-detail-clt-frs></app-detail-clt-frs>
    <app-detail-clt-frs></app-detail-clt-frs>
  </div>

  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
